{% extends "templates/base.twig" %}

{% block css %}"../assets/styles/authorize.css"{% endblock %}

{% block title %}Admin Login{% endblock %}

{% block body %}
	<div id="form">
		<div style="margin-left:2vw">
			<form action="/admin/auth" method="POST">
				Username:<input type="text" name="username" id="user">
				<br><br>
				Password:
				<input type="password" name="password" id="password">
				<br>
				{% if flag %}
					<p>Invalid Username or Password</p>
				{% endif %}
				{% if not flag %}
					<br>
				{% endif %}
				<div id="buttons">
					<div>
						<input type="submit" value="Login" id="login"/>
					</div>
					<div>
						<a id="link" href="/admin/newadmin">Register Admin</a>
					</div>
				</div>
			</form>
		</div>
	</div>
	<div>
		{% if flag1 %}
			<p id="record">Your request has been recorded and will be processed soon.</p>
		{% endif %}
	</div>I
{% endblock %}
