{% extends "templates/base.twig" %}

{% block css %}"../assets/styles/client.css"{% endblock %}

{% block title %}Client Portal{% endblock %}

{% block body %}
		<div class="topnav">
			<a class="active" href="/client/dashboard">Home</a>
			<a href="/client/requestedbooks">Requested Books</a>
			<a href="/client/rejectedrequests">Rejected Requests</a>
		</div>
		<div id="profile">
			<div id="icon">
				<img src="/assets/images/icon.png">
				<p>
					{{ username }}</p>
			</div>
			<form action="/client/logout" method="get" id="logout">
				<button name="logout" id="logout">Logout</button>
			</form>
		</div>
		<div id="listblock1">
			<div>
				<h2>
					<u>Requested Books</u>
				</h2>
			</div>
			<div>
				<table>
					{% if requestedbooks is not empty  %}
						<tr>
							<th>Name</th>
						</tr>
						{% for book in requestedbooks %}
							<tr>
								<td>
									{{ book.name }}
								</td>
							</tr>
						{% endfor %}
					{% endif %}
				</table>
			</div>
		</div>
{% endblock %}