{% extends "templates/base.twig" %}

{% block css %}"/assets/styles/homepage.css"{% endblock %}

{% block title %}Home Page{% endblock %}
{% block body %}
	<p id="heading">Welcome to the Library Management System</p>

	<div id="a">
		<p id="choose">Choose Your Role:</p>
		<div id="roles">
			<div>
				<a href="client/auth">
					<button id="button">CLIENT</button>
				</a>
			</div>
			<div>
				<a href="/admin/auth">
					<button id="button">ADMIN</button>
				</a>
			</div>
		</div>
	</div>
{% endblock %}
