<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="assets/styles/notclient.css"/>
		<title>Invalid Login</title>
	</head>
	<body>
		<h2>Not a Valid Client! Please go back using the button.</h2>
		<input type="button" onclick="location.href='/client/auth';" id="button" value="Go Back"/>
	</body>

</html>
