{% extends "templates/base.twig" %}

{% block css %}"../assets/styles/register.css"{% endblock %}

{% block title %}Client Register{% endblock %}

{% block body %}
	<div id="form">
		<div style="margin-left:2vw">
			<form action="/client/newuser" method="POST">
				Username:<input type="text" name="uname" id="user">
				<br>
				Password:<input type="password" name="pass" id="pass">
				<br>
				Confirm Password:<input type="password" name="passc" id="passc">
				<br>
				{% if flag %}
					<p>Passwords don't match</p>
				{% endif %}
				{% if flag1 %}
					<p>Please enter passowrd of appropriate length.</p>
				{% endif %}
				{% if flag2 %}
					<p>Username already taken. Please use another name.</p>
				{% endif %}
				{% if not flag and not flag1 and not flag2 %}
					<br>
				{% endif %}
				<div id="buttons">
					<input type="submit" value="Register" id="register"/>
				</div>
			</form>
		</div>
	</div>
	<p id="pX">Password should be minimum of 8 characters long</p>
{% endblock %}
