<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="../assets/styles/register.css"/>
		<title>Client Portal</title>
	</head>

	<body>
		<div id="form">
			<form action="/client/newuser" method="POST">
				Username:<input type="text" name="uname" id="user">
				<br>
				Password:<input type="password" name="pass" id="pass">
				<br>
				Confirm Password:<input type="password" name="passc" id="passc">
				<br>
				<input type="submit" value="Register" id="register"/>
			</form>
		</div>
		<p id="pX">Password should be minimum of 8 characters long</p>
	</body>

</html>
