@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

body {
    background-image: url("../images/homepage.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100vw;
    height: 80vh;
    margin: 0vw;
}

#a {
    display: flex;
    flex-direction: row;
    width: 100vw;
    margin-top: 12vh;
}

#roles {
    display: flex;
    flex-direction: column;
    width: 40vw;
    margin-top: 6vh;
    gap: 8vh;
}

#button {
    margin-left: 18vw;
    font-size: 32px;
    padding: 32px;
    color: antiquewhite;
    background-color: rgba(0, 0, 0, 0.566);
}

#button:hover {
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

#heading {
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    font-size: 40px;
    margin-left: 20vw;
    background: -webkit-linear-gradient(rgb(245, 99, 99), rgb(245, 234, 234));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 16vh;
    /* -webkit-text-stroke: 1.5px black; */
}

#choose {
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    margin-left: 20vw;
    background: -webkit-linear-gradient(left, rgb(245, 99, 99), rgb(245, 234, 234));
    background: -o-linear-gradient(right, rgb(245, 99, 99), rgba(245, 234, 234));
    background: -moz-linear-gradient(right, rgb(245, 99, 99), rgba(245, 234, 234));
    background: linear-gradient(to right, rgb(245, 99, 99), rgba(245, 234, 234));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 20vh;
}